# env & caches
.venv/
.venv311
__pycache__/
*.pyc
.ipynb_checkpoints/
*.tecode
*.zip
*.pth
*.bin
*.tiktoken
.DS_Store

# data: don't track big raw files; allow small samples
data/*
!data/README.md
!data/hindi_train_10mb.clean.txt  # keep one small sample if you want

# artifacts: track the tokenizer.json
artifacts/*
!artifacts/tokenizer.json
